<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Overview of all active courses.</h2>
    <button class="btn btn-primary" (click)="onAddCourse()">
      + Add Course
    </button>
  </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Duration</th>
                <th scope="col">Course Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Angular</td>
                <td>3 Months</td>
                <td>Angular is a platform for building mobile and desktop web applications.</td>

            </tr>
        </tbody>
    </table>
</div>